@import '../Variables.scss';

.adminMainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3% 5%;
    box-sizing: border-box;
    color: $black;
    justify-content: space-between;
}

.toolsContainer{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userNameContainer{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    p{
        margin: 0;
    }
}

.userName{
    font-size: 2em;
    font-weight: 700;
    color: $blue;

    p{
        margin: 0;
    }
}

.overviewContainer{
    width: 65%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.profileBanner{
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.userPictureContainer{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPicture{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.tools{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
}

.toolsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
}

.toolsDividerContainer{
    display: flex;
    align-items: center;
    margin-left: 3%;
    width: 100%;
}

.toolsTittle {
    display: flex;
    align-items: center;
    font-size: 1em;
}	

.CoursesOverview{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;

    .toolsHeader{
        margin-bottom: 2%;
    }
}

.CourseOverview{
    width: 100%;
    height: 7vh;
    cursor: pointer;
    border: 1px solid $grey;
    display: flex;
    align-items: center;
    padding: 1.3% 4%;
    border-radius: 10px;
    background-color: $light-grey;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: background-color 0.2s ease, box-shadow 0.3s ease;
}
.CourseOverview:hover {
    background-color: #e6e6e6;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.CourseOverviewInfo{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p{
        margin: 0;
    }
}

.CourseOverviewDetails{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
    align-items: center;
}

.CourseOverviewButtonsContainer{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;

    .ConfirmationButton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2%;
    }
}

.ReportsOverview{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .toolsHeader{
        margin-bottom: 2%;
    }
}

.ReportOverview{
    width: 45%;
    height: 100%;
    border-radius: 10px;
    background-color: $light-grey;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: background-color 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.ReportOverview:hover{
    background-color: #e6e6e6;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.fileSelector{
    width: 100%;
}

.ModalContainer{
    width: 100%;
    height: 100%;
    padding: 3% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ModalTopContainer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ModalButtonsContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.errorText {
    color: red;
    font-size: 0.7em;
    margin-top: 5px;
    text-align: left;
}