@import 'Variables';

.ConfirmationButton {
    background-color: $orange;
    border: none;
    color: white;
    border-radius: $confirmation-button-border-radius;
    padding: $confirmation-button-padding;
    margin: $confirmation-button-margin;
    cursor: pointer;
    font-size: $confirmation-button-font-size;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: darken($orange, 7%);
        color: #fff;
    }
}  

.ConfirmationButtonDisabled {
    background-color: $grey;
    border: none;
    color: white;
    border-radius: $confirmation-button-border-radius;
    padding: $confirmation-button-padding;
    margin: $confirmation-button-margin;
    cursor: not-allowed;
    font-size: $confirmation-button-font-size;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}