@import 'Variables';

.ConfirmationButton{
    background-color: $orange;
    border: none;
    border-radius: $confirmation-button-border-radius;
    color: $grey;
    padding: $confirmation-button-padding;
    margin: $confirmation-button-margin;
    cursor: pointer;
    font-size: $confirmation-button-font-size;
}