@import 'Variables';

.MainContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('../assets/ucentral.jpg');
    background-size: cover;
    background-position: center center;
    padding: 3% 5% 3% 5%;
    box-sizing: border-box;
}

.ElementsContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

hr{
    width: 100%;
    border: 1px solid $light-grey;
}

.Footer{
    cursor: pointer;
}

.ResetPasswordForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 5vh;

    button, input{
        margin: 0;
    }
}

.ErrorMessage{
    color: red;
    font-size: 0.8em;
    margin: 3% 0 3% 0;
}

.spinner{
    border: 2px solid $blue;
    border-left-color: $orange;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    animation: spin 1s linear infinite;
    box-sizing: border-box;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}