/** General **/
$orange: #E67E22;
$light-grey: #ECF0F1;
$blue: #3498DB;
$dark-grey: #62707D;
$grey: #cccccc;
$font-family: 'Helvetica', sans-serif;
$black: #2C3E50;

/** Grey Container **/
$grey-container-border-radius: 20px;
$grey-container-padding: 5%;

/**Input **/
$input-border-radius: 8px;
$input-margin: 2% 0% 2% 0%;
$input-font-size: 1rem;
$input-padding: 2% 5% 2% 5%;
$input-border: 1px solid #ccc;
$input-color: #6d6d6d;

/** Confirmation Button **/
$confirmation-button-padding: 3% 5% 3% 5%;
$confirmation-button-border-radius: 8px;
$confirmation-button-margin: 2% 0% 2% 0%;
$confirmation-button-border: none;
$confirmation-button-font-size: 1rem;
