/* WhiteButton.css */
.white-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.white-button:hover {
    background-color: black;
    color: white;
}
