@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* === Light mode === */
  --max-width-app: 1400px;

  --color-bg-main: #f3f3f3;
  --color-card-bg: #ffffff;
  --color-border: #c6c8cf;

  --color-text-main: #111827;
  --color-text-secondary: #6b7280;

  --color-skeleton-light: #e5e7eb;
  --color-skeleton-dark: #d1d5db;

  --color-brand: #2563eb;
  --color-brand-hover: #1d4ed8;
  --color-brand-active: #1e40af;

  --color-accent: #f97316;
  --color-accent-hover: #ea580c;
  --color-accent-active: #c2410c;

  --color-error: #dc2626;
  --color-error-hover: #d31a1a;
  --color-error-active: #c91010;

  --color-success: #16a34a;
  --color-warning: #facc15;
}

@layer base {
  .dark {
    /* === Dark mode === */
    --color-bg-main: #111827;
    --color-card-bg: #1f2937;
    --color-border: #374151;

    --color-text-main: #f9fafb;
    --color-text-secondary: #9ca3af;

    --color-skeleton-light: #4b5563;
    --color-skeleton-dark: #374151;

    --color-brand: #3b82f6;
    --color-brand-hover: #2563eb;
    --color-brand-active: #1d4ed8;

    --color-accent: #fb923c;
    --color-accent-hover: #f97316;
    --color-accent-active: #ea580c;

    --color-success: #22c55e;
    --color-warning: #facc15;
    --color-error: #f87171;
  }
}
